
:root{
    --primary-light: #dda07d;
    --primary: #df844f;
    --light: #eee;
    --gray: #666;
    --gray-light: #999;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background: -webkit-linear-gradient(left, var(--primary), var(--primary-light), var(--primary));
    z-index: 10;
    height: 60px;
    display: flex;
    position: relative;
}

.header__logo{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo-img{
    height: 50%;
    margin-right: 20px;
}

.header__parrafo{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.header__nav{
    flex: 1;
}

.header__list{
    height: 100%;
    display: flex;
    list-style: none;
}

.header__item{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.header__item:hover{
    flex: 2;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.header__item:hover .header__link{
    font-size: 24px;    
}

.header__link{
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.main{
    display: flex;
    min-height: calc(100vh - 60px);
}

.main__menu{
    z-index: 0;
    width: 240px;
    height: 100vh;
    padding-top: 60px;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
}

.main__list{
    list-style: none;
}

.main__item{
    cursor: pointer;
    height: 60px;
    background-color: #e63629;
    border-bottom: 2px solid #eee;
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__item:hover{
    background-color: #e6362952;
}

.main__item i{
    margin-right: 15px;
}

.main__container{
    width: calc(100% - 240px);
    background-color: #eee;
    margin-left: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 300px;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.5s ease;
    background-color: white;
    box-shadow: #aaa 0px 0px 5px;
}

.card:hover{
    transform: scale(1.05, 1.05);
    box-shadow: #aaa 0px 0px 20px;
}

.card:hover .card__description{
    height: 90px;
    transition: all 0.5s ease;
}

.card:hover .card__header{
    height: 200px;
    transition: all 0.5s ease;
}

.card:hover .card__img{
    filter: brightness(0.7);
    transition: all 0.5s ease;
    transform: scale(1.1, 1.1);
}

.card__header{
    height: 300px;
    overflow: hidden;
    position: relative;
}

.card__img{
    width: 100%;
}

.card__photos{
    background-color: var(--primary);
    color: var(--light);
    padding: 6px 10px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
}

.card__date{
    background-color: var(--primary);
    color: var(--light);
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.card__body{
    padding: 20px;
}

.card__title{
    margin-bottom: 15px;
}

.card__subtitle{
    color: var(--primary);
    margin-bottom: 15px;
}

.card__description{
    height: 0;
    font-size: 13px;
    overflow: hidden;
    line-height: 22px;
    color: var(--gray);
}

.card__footer{
    padding: 10px 20px;
}

.card__feed{
    list-style: none;
}

.card__item{
    font-size: 13px;
    margin-right: 15px;
    display: inline-block;
    color: var(--gray-light);
}
